@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-main-container {
    background-color: #f8f8fb;
    padding-top: 1.5em;
    margin-top: -3.25em;
}

.dashboard-container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;

  .last-campaign {
    margin-top: 1em;
    color: #495057;
    font-weight: 500;
  }
}

@media (min-width: 768px) {
  .dashboard-container {
    width: 90%;
  }
}

.dashboard {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.25em;
}



@media (min-width: 568px) {
  .dashboard {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .dashboard {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}


.dashboard-card {
  @include flex-center();
  justify-content: space-between;  
  padding: 1.2em 1.25em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  p {
    font-weight: 500;
    color: #74788d;
  }

  h4 {
    color: #495057;
  }
  
  .dashboard-card-icon {
    width: 3.25em;
    height: 3.25em;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    @include flex-center();
    background-image: linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    img {
      width: 50%;
      transition: width 0.25s;
    }
  }

  .dashboard-card-icon:hover {
    background-image: linear-gradient(180deg, #376be6 0%, #6470ef 100%);
  }
}

.dashboard-container table {
  margin-top: 3em;
}

.MuiSvgIcon-root {
  cursor: pointer;
  color: #376be6;
}

.MuiSvgIcon-root:hover {
  color: #0c40b9;
}